<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Backend Application</h1>
    <h2>Hello {{ name }}</h2>
    <a href="{{ url_for('project_list') }}">Visit Projects API endpoint</a>
    <p>Projects in the API:</p>
  </body>

  <script>
    async function getProjects() {
      const response = await fetch('/projects');
      const data = await response.json();
      console.log(data);
      for (const project of data.projects) {
        const element = `
          <p>
            <strong>${project.name}</strong>
          </p>
        `;
        document.body.insertAdjacentHTML('beforeend', element);
      }
    }
    getProjects();

  </script>

</html>
